Source: libauthen-sasl-authd-perl
Section: perl
Priority: optional
Maintainer: Alexander Wirt <formorer@debian.org>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.3
Homepage: http://search.cpan.org/dist/Authen-SASL-Authd/
Vcs-Git: git://github.com/credativ/pkg-libauthen-sasl-authd-perl.git
Vcs-Browser: https://github.com/credativ/pkg-libauthen-sasl-authd-perl

Package: libauthen-sasl-authd-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Authentication with SASL Authd
 The Authen::SASL::Authd package implements LOGIN authentication protocol used
 by Cyrus saslauthd and PLAIN authentication protocol supported by Dovecot
 authentication daemon. It can be used to process authentication requests
 against configured SASL mechanism implemented by Cyrus or Dovecot SASL
 libraries. It can also be used to check if a particular user exists according
 to the Dovecot authentication daemon.
